<%include header%>
<head>
    <style>
        .product-view{
            padding-bottom: 40px;
            text-align: left;
        }
        .breadcrumbs {
        text-align: left;
    }
        .product-shop{
            float: right;
            text-align: left;
            width: 80%;
            height: 300px;
            padding: 1px;
        }
        .product-img-box{
            float: left;
            width: 20%;
            height: 300px;
        }
        
    </style>
</head>
    <div class="breadcrumbs" itemprop="breadcrumb">
        <ul>
            <li class="home">
                <a href="#" title="Trở về trang chủ">Trang chủ</a>
                <span>/ </span>
                <strong>AVENGERS: ENDGAME</strong>
            </li>
        </ul>
    </div>
    <div id="messages_product_view"></div>
    <div class="product-view">
        <div class="product-essential">
            <div class="page-title product-view">
                <span class="h1">Nội Dung Phim</span>
            </div>

            <div class="product-img-box">
                <div class="product-image product-image-zoom">
                    <div class="product-image-gallery">
                        <img id="image-main" class="gallery-image visible"
                            src="https://www.cgv.vn/media/catalog/product/cache/1/image/c5f0a1eff4c394a251036189ccddaacd/a/4/a4_160.jpg"
                            alt="AVENGERS: ENDGAME" title="AVENGERS: ENDGAME" />
                    </div>
                </div>
                <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19005900');">
                        <span><span>Mua vé</span></span>
                    </button>
                            <a title="play-button" class="button" href="https://www.youtube.com/embed/JsTxPRKo5Bw?rel=0&showinfo=0&autoplay=1"><strong>Play Trailer</strong></a>
                        
            </div>

            <div class="product-shop">
                <ul><label><strong>Đạo diễn:</strong></label> Anthony Russo, Joe Russo</ul>
                <ul><label><strong>Diễn viên:</strong></label> Hồ Hoàng Trường, Nguyễn Quốc Trưởng, Trần Thanh Tuấn, Phan Trung Tín</ul>
                <ul><label><strong>Thể loại:</strong></label> Hành động, viễn tưởng</ul>
                <ul><label><strong>Khởi chiếu:</strong></label> Anthony Russo, Joe Russo</ul>
                <ul><label><strong>Ngôn ngữ:</strong></label> Tiếng Anh và phụ đề tiếng Việt</ul>
                <ul><label><strong>Rated:</strong></label> Chỉ dành cho khán giản trên 13 tuổi</ul>
            </div>

            <h2>Chi tiết</h2>
    <div class="std">
        Sau sự kiện Thanos làm cho một nửa vũ trụ tan biến và khiến cho biệt đội Avengers thảm bại, những siêu anh hùng sống sót phải tham gia trận chiến cuối cùng trong Avengers: Endgame - tác phẩm điện ảnh đánh dấu sự khép lại sau 22 bộ phim của Marvel Studios.    </div>

        </div>
    </div>
<%include footer%>