

        <hr  width="100%" size="10px" align="center" color="red" /> 
        <ul align="center">
           <a href="#"><button type="button" class="btn btn-info">2D</button></a>
            <a href="#"><button type="button" class="btn btn-info">3D</button></a>          
        </ul>
        <hr  width="100%" size="10px" align="center" color="red" /> 
        <table class="table table-borderless"> 
                <thead  align="center" >
                  <tr>
                    <th>4T Việt Nam</th>
                    <th>Điều Khoản Sử Dụng</th>
                    <th>Kết Nối Với Chúng Tôi</th>
                    <th>Chăm Sóc Khách Hàng</th>
                  </tr>
                </thead>
                <tbody align="center">
                  <tr>
                    <td>        
                        <ul style="list-style-type:none;">             
                            <li><a href="#">Giới Thiệu</a></li>
                            <li><a href="#">Tiện ích Online</a></li>
                            <li><a href="#">Thẻ Quà Tặng</a></li>
                            <li><a href="#">Tuyển Dụng</a></li>   
                            <li><a href="#">Liện Hệ Quảng Cáo</a></li>
                        </ul>  
                    </td>   
                    <td>        
                        <ul style="list-style-type:none;">             
                            <li><a href="#">Điều Khoản Chung</a></li>
                            <li><a href="#">Điều Khoản Giao Dịch</a></li>
                            <li><a href="#">Chính Sách Thanh Toán</a></li>
                            <li><a href="#">Chính Sách Bảo Mật</a></li>   
                            <li><a href="#">Câu Hỏi Thường Gặp</a></li>
                        </ul>  
                    </td>  
                    <td>        
                        <ul style="list-style-type:none;">                                        
                            <li><a href="#"><button type="button" class="none"><i class="fab fa-facebook-square"></i></button></a></li>
                            <li><a href="#"><button type="button" class="none"><i class="fab fa-instagram"></i></button></a></li>
                            <li><a href="#"><button type="button" class="none"><i class="fab fa-youtube"></i></button></a></li>
                            <li><a href="#"><button type="button" class="none"><i class="fas fa-sms"></i></button></a></li>
                        </ul>  
                    </td>
                    <td>        
                        <ul style="list-style-type:none;">             
                            <li><a href="#">Hotline: 0123456789</a></li>
                            <li><a href="#">Giờ Làm Việc: 8:00 - 22:00 (tất cả các ngày bao gồm ngày lễ)</a></li>
                            <li><a href="#">Email: abc@gmail.com</a></li>                          
                        </ul>  
                    </td>                                        
                  </tr>  
                </tbody>
              </table>
        

    </div>
  </body>
</html>