  <html>
      <body>
        <div>
         
        <hr  width="100%" size="10px" align="center" color="black" /> 
        <ul align="center">
          <h3>Bạn muốn xem loại phim: </h3>
           <b href="#"><button type="button" class="btn btn-info">2D</button></b>
            <b href="#"><button type="button" class="btn btn-info">3D</button></b>          
        </ul> 
        <hr  width="100%" size="10px" align="center" color="red" /> 
        <table class="table table-borderless"> 
                <thead  align="center" >
                  <tr>
                    <th>4T Việt Nam</th>
                    <th>Điều Khoản Sử Dụng</th>
                    <th>Kết Nối Với Chúng Tôi</th>
                    <th>Chăm Sóc Khách Hàng</th>
                  </tr>
                </thead>
                <tbody align="center">
                  <tr>
                    <td>        
                        <ul style="list-style-type:none;">             
                            <a href="#">Giới Thiệu</a></br>
                            <a href="#">Tiện ích Online</a></br>
                            <a href="#">Thẻ Quà Tặng</a></br>
                            <a href="#">Tuyển Dụng</a></br>   
                            <a href="#">Liện Hệ Quảng Cáo</a></br>
                        </ul>  
                    </td>   
                    <td>        
                        <ul style="list-style-type:none;">             
                            <a href="#">Điều Khoản Chung</a></br>
                            <a href="#">Điều Khoản Giao Dịch</a></br>
                            <a href="#">Chính Sách Thanh Toán</a></br>
                            <a href="#">Chính Sách Bảo Mật</a></br>   
                            <a href="#">Câu Hỏi Thường Gặp</a></br>
                        </ul>  
                    </td>  
                    <td>        
                        <ul style="list-style-type:none;">                                        
                            <li><a href="#"><button type="button" class="none"><i class="fab fa-facebook-square"></i></button></a></li>
                            <li><a href="#"><button type="button" class="none"><i class="fab fa-instagram"></i></button></a></li>
                            <li><a href="#"><button type="button" class="none"><i class="fab fa-youtube"></i></button></a></li>
                            <li><a href="#"><button type="button" class="none"><i class="fas fa-sms"></i></button></a></li>
                        </ul>  
                    </td>
                    <td>        
                        <ul style="list-style-type:none;">             
                            <a href="#">Hotline: 0123456789</a></br>
                            <a href="#">Giờ Làm Việc: 8:00 - 22:00 (tất cả các ngày bao gồm ngày lễ)</a></br>
                            <a href="#">Email: abc@gmail.com</a></br>                          
                        </ul>  
                    </td>                                        
                  </tr>  
                </tbody>
              </table>
      </div>
    </body>
  </html>