<%include header%>
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Trang chủ</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">

  <script type="text/javascript" src="https://www.cgv.vn/js/lib/jquery/noconflict.js"></script>

  <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.min.js"></script>
  <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.carousel.js"></script>

  <!-- form load -->
  <!-- form xem chi tiet -->
  <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/styles.css" media="all" />
  <!-- form Play -->
  <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/g-erp-cgv.css" media="all" />
  <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/custom-cgv.css" media="all" />
  
  

</head>
<body>
  <div class="container">

    

  <center>
            <div class="home-movie-selection">
              <div class="home-title">
                <h2>movie selection</h2>
              </div>
              
              <div class="slideshow-containe-movier feature_slide_show_480_767">
                <ul class="feature_slide_show">
                              
                                            <li class="poster-film film-lists item">
                                             
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/j/o/john-wick_3-poster_1.jpg" alt="SÁT THỦ JOHN WICK 3: CHUẨN  BỊ CHIẾN TRANH" />
                      <input type="hidden" value="movie-trailer-1747">
                      <div class="feature_film_content">
                        <h3>SÁT THỦ JOHN WICK 3: CHUẨN  BỊ CHIẾN TRANH</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/john-wick-chapter-3-parabellum.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19006800');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/rzJ2yHEbLrY?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                                            
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/r/s/rsz_v__ba_-_official_poster_-_kc_17052019_1.jpg" alt="VỢ BA" />
                      <input type="hidden" value="movie-trailer-1720">
                      <div class="feature_film_content">
                        <h3>VỢ BA</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/vo-ba.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19007400');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/xS0_eL8281M?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                                            
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/a/4/a4_240.jpg" alt="AVENGERS: ENDGAME" />
                      <input type="hidden" value="movie-trailer-1423">
                      <div class="feature_film_content">
                        <h3>AVENGERS: ENDGAME</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/avengers-endgame.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19005900');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/JsTxPRKo5Bw?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                                          
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/2/p/2pikachu-_vietnamese_poster_1.jpg" alt="POKÉMON: THÁM TỬ PIKACHU" />
                      <input type="hidden" value="movie-trailer-1584">
                      <div class="feature_film_content">
                        <h3>POKÉMON: THÁM TỬ PIKACHU</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/pokemon-detective-pikachu.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19006600');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/SQnQl9xD_ts?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">

                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/2/4/240_14_21.jpg" alt="QUÝ CÔ LỪA ĐẢO" />
                      <input type="hidden" value="movie-trailer-1668">
                      <div class="feature_film_content">
                        <h3>QUÝ CÔ LỪA ĐẢO</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/the-hustle.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19006700');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/q2JzRKJEgwg?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                                            
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/t/h/the-intruder.jpg" alt="KẺ XÂM NHẬP BÍ ẨN" />
                      <input type="hidden" value="movie-trailer-1757">
                      <div class="feature_film_content">
                        <h3>KẺ XÂM NHẬP BÍ ẨN</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/the-intruder.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19007100');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/OdDFqb1FRew?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">

                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/l/a/la_ll406_21_3_1.jpg" alt="MẸ MA THAN KHÓC LA LLORONA" />
                      <input type="hidden" value="movie-trailer-1624">
                      <div class="feature_film_content">
                        <h3>MẸ MA THAN KHÓC LA LLORONA</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/the-curse-of-la-llorona.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19006400');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/ydbdWLSt1gg?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                                     
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/u/o/uoc_hen_mua_thu_official_poster_1.jpg" alt="ƯỚC HẸN MÙA THU" />
                      <input type="hidden" value="movie-trailer-1767">
                      <div class="feature_film_content">
                        <h3>ƯỚC HẸN MÙA THU</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/uoc-hen-mua-thu.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19006900');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/Yp6eHTv-NxA?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                                            
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/t/h/thang-em-ly-tuong-official_1.png" alt="THẰNG EM LÝ TƯỞNG" />
                      <input type="hidden" value="movie-trailer-1737">
                      <div class="feature_film_content">
                        <h3>THẰNG EM LÝ TƯỞNG</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/inseparable-bros.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19007000');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/CuySdhEYy7Y?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                                              
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/c/h/ch_r_ng_d_ng_c_m_-_tabaluga_-_official_poster_-_17.05.2019_1.jpg" alt="CHÚ RỒNG DŨNG CẢM" />
                      <input type="hidden" value="movie-trailer-1822">
                      <div class="feature_film_content">
                        <h3>CHÚ RỒNG DŨNG CẢM</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/tabaluga.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19007200');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/e-lShbryPds?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/r/s/rsz_main_official_final_20190517_1_1.jpg" alt="CÀ CHỚN ANH ĐỪNG ĐI" />
                      <input type="hidden" value="movie-trailer-1786">
                      <div class="feature_film_content">
                        <h3>CÀ CHỚN ANH ĐỪNG ĐI</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/ca-chon-anh-dung-di.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19007500');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/YEZGBNt-DT4?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/c/o/corgi_406_14_17_1.jpg" alt="CORGI: NHỮNG CHÚ CHÓ HOÀNG GIA" />
                      <input type="hidden" value="movie-trailer-1620">
                      <div class="feature_film_content">
                        <h3>CORGI: NHỮNG CHÚ CHÓ HOÀNG GIA</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/the-queen-s-corgi.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19006000');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/JtnTiPkKHkE?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/g/u/guests_porter_1.jpg" alt="CHUYẾN VIẾNG THĂM TỬ THẦN" />
                      <input type="hidden" value="movie-trailer-1772">
                      <div class="feature_film_content">
                        <h3>CHUYẾN VIẾNG THĂM TỬ THẦN</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/guests.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19006500');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/cOEFqs5dTvs?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/2/4/240_14_25.jpg" alt="LẬT MẶT: NHÀ CÓ KHÁCH" />
                      <input type="hidden" value="movie-trailer-1684">
                      <div class="feature_film_content">
                        <h3>LẬT MẶT: NHÀ CÓ KHÁCH</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/lat-mat-nha-co-khach.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19005000');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/JvHqCk3l3UE?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                                              <span class="nmovie-rating nmovie-rating-p">p</span>
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/p/o/poster-hoi-thu-bong-ngho-nghinh_1.jpg" alt="HỘI THÚ BÔNG NGỘ NGHĨNH" />
                      <input type="hidden" value="movie-trailer-1742">
                      <div class="feature_film_content">
                        <h3>HỘI THÚ BÔNG NGỘ NGHĨNH</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/uglydolls.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19006300');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/APnLWPdecgc?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                              
                                            <li class="poster-film film-lists item">
                                            
                      <img class="product-img" src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/r/s/rsz_upin_ipin_-_vn_poster_2.jpg" alt="UPIN &amp; IPIN - TRUYỀN THUYẾT THẦN ĐAO" />
                      <input type="hidden" value="movie-trailer-1732">
                      <div class="feature_film_content">
                        <h3>UPIN &amp; IPIN - TRUYỀN THUYẾT THẦN ĐAO</h3>
                        <a title="Xem chi tiết" class="button" href="https://www.cgv.vn/default/upin-ipin.html">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('19006100');"><span><span>Mua vé</span></span></button>
                      </div>
                                                                <div class="play-button">
                          <span><span>Play</span></span>
                          <div style="display:none">
                            <span class='movie-trailer'>https://www.youtube.com/embed/f322Ujlk4vM?rel=0&showinfo=0&autoplay=1</span>									
                          </div>
                        </div>
                                </li>
                        </ul>			
                <span class="feature_slide_show_prev"><<</span> 
                <span class="feature_slide_show_next">>></span>		
              </div>
            </div>
            
           
          
            <style type="text/css">
              #cboxLoadedContent .quick-booking > .tabs-cgv-movie-view-date > * {
                padding: 20px;
                margin : 0px;
              }
            </style>
          
            <script type="text/javascript">
              $j(window).bind("load", function() {
                var width = $j(window).width(); 
                if(width >= 979){
                          reinitCycle(4);
                }
                else if(width >= 770) {				
                          reinitCycle(3);
                }
                else if(width >= 479) {				
                          reinitCycle(2);
                }
                else {				
                          reinitCycle(1);
                }
          
                $j( ".play-button" ).click(function() {
                  var trailer = $j( this ).find('span.movie-trailer');
                  if (typeof $j('#main-popup').attr('id') != undefined) $j.colorbox.remove();
                  $j.colorbox({iframe:true, innerWidth:640, innerHeight:390, href:trailer.html()});
                });
              });
              
              $j(window).on('resize',function () {
                      var width = $j(window).width(); 
                $j('.feature_slide_show').cycle('destroy');
                if(width >= 979){
                          reinitCycle(4);
                } else if(width >= 770) {
                          reinitCycle(3);
                } else if(width >= 479) {
                          reinitCycle(2);
                } else {
                          reinitCycle(1);
                }
                  });
              
              function reinitCycle(visibleSlides) {
                try {
                  $j('.feature_slide_show').cycle({
                    "carouselSlideDimension" : "240px",
                    "carouselVisible" : visibleSlides,
                    "fx" : "carousel",
                    "timeout" : 0,
                    "next" : ".feature_slide_show_next",
                    "prev" : ".feature_slide_show_prev",
                    "slideActiveClass" : "active",
                    "slides" : "li",
                    "allowWrap" : false,
                  });
                } catch(err) {
                  console.log(err.message);
                }			
                  }

            </script>
        
        
  </center>

  </div>

</body>


<%include footer%>