h2{
    color: red;
    background-color: teal;
}
i{
    color:blue;
}
.btn-group .dropdown-menu .dropdown-item {
    color: blue;

}
*{
    text-decoration: none;
}
  div {
    background-color: darkgray;
  }
  
  