h2{
    
    background-color: teal;
}
i{
    color:blue;
}
.btn-group .dropdown-menu .dropdown-item {
    color: blue;

}
*{
    text-decoration: none;
}
  div {
    background-color: darkgray;
  }
P{
    border-left: 6px solid red;
  background-color: lightgrey;
}
th{
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightseagreen;
}
